@charset "UTF-8";

@font-face {
  font-family: "GothicA1-Bold";
  font-display: swap;
  src: url("../fonts/GothicA1-Bold.woff") format("woff"), url("../fonts/GothicA1-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "GothicA1-Regular";
  font-display: swap;
  src: url("../fonts/GothicA1-Regular.woff") format("woff"), url("../fonts/GothicA1-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

body {
  font-family: GothicA1-Regular;
  font-size: 1rem;
  line-height: 1.5;
  color: #4b5d68;
  overflow: overlay;
}

body::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}

body::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

.wrapper {
  overflow: hidden;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1440px;
  padding: 0 144px;
  margin: 0 auto;
}

.main {
  width: 100%;
}

*:focus {
  -webkit-box-shadow: inset 0 0 0 1px rgb(203, 255, 199);
          box-shadow: inset 0 0 0 1px rgb(203, 255, 199);
}

.header {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  z-index: 30;
}

.header__logo {
  position: relative;
  z-index: 3;
}

.header__logo > img {
  max-width: 100%;
}

.header__burger {
  display: none;
  cursor: pointer;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  position: relative;
  z-index: 3;
}

body.lock {
  overflow: hidden;
}

.header__burger {
  display: none;
}

.richard {
  height: 100vh;
  background: -o-linear-gradient(310deg, rgb(252, 10, 126) 5%, rgb(69, 14, 75) 100%);
  background: linear-gradient(140deg, rgb(252, 10, 126) 5%, rgb(69, 14, 75) 100%);
}

.header__body {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
}

.header__link > a {
  font-size: 1.2em;
  color: #fff;
}

.momentum {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 85vh;
}

.momentum__body {
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.momentum__info {
  color: #fff;
}

.momentum__title {
  font-size: calc(50px + 22 * (100vw - 320px) / 1120);
  margin-bottom: 10px;
}

.momentum__subtitle {
  font-size: calc(20px + 8 * (100vw - 320px) / 1120);
  white-space: nowrap;
  margin-bottom: 25px;
}

.momentum__btn {
  background-color: #fc0a7e;
  color: #fff;
  padding: 20px 40px;
}

.momentum__image {
  padding-top: 70px;
  margin-left: -40px;
}

.momentum__image > picture > img {
  max-width: 40vw;
  height: auto;
}

.nullam {
  background-color: #1b1b1b;
  padding-top: 100px;
}

.nullam__body {
  text-align: center;
}

.nullam__text-body {
  max-width: 700px;
  margin: 0 auto;
}

.nullam__title {
  color: #a8a8a8;
  font-size: calc(12px + 6 * (100vw - 320px) / 1120);
  margin-bottom: 25px;
}

.nullam__subtitle {
  color: #fff;
  font-size: calc(18px + 20 * (100vw - 320px) / 1120);
  margin-bottom: 55px;
}

.nullam__image > picture > img {
  max-width: 100%;
  height: auto;
}

.consectetur {
  background-color: #fff;
}

.app__container {
  padding: 80px 0 160px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 160px;
}

.app__item:last-child {
  margin-bottom: 0;
}

.app__item--reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-bottom: 160px;
}

.app__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.app__info-container {
  max-width: 70%;
}

.app__info--reverse {
  padding-left: 110px;
}

.app__title {
  font-size: calc(12px + 6 * (100vw - 320px) / 1120);
  color: #a8a8a8;
  margin-bottom: 30px;
}

.app__subtitle {
  font-size: calc(18px + 20 * (100vw - 320px) / 1120);
  color: #000;
  margin-bottom: 20px;
}

.app__description {
  font-size: calc(12px + 6 * (100vw - 320px) / 1120);
  color: #6b6b6b;
}

.app__image {
  padding-left: 50px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.app__image > picture > img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.app__image--reverse {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-left: 0;
  padding-right: 50px;
}

.advantages {
  padding-bottom: 160px;
}

.advantages__container {
  max-width: 1600px;
  padding: 0 20px;
  margin: 0 auto;
}

.advantages__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
}

.advantages__image {
  margin-bottom: 40px;
}

.advantages__title {
  text-align: center;
  font-size: calc(16px + 4 * (100vw - 320px) / 1120);
  font-weight: 700;
  color: #000;
  margin-bottom: 15px;
}

.advantages__description {
  text-align: center;
  font-size: calc(10px + 5 * (100vw - 320px) / 1120);
  color: #6b6b6b;
}

.benefits__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 160px;
}

.benefits__sub-body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.benefits__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
}

.benefits__number {
  font-size: calc(16px + 24 * (100vw - 320px) / 1120);
  color: #333;
  margin-bottom: 10px;
}

.benefits__title {
  font-size: calc(14px + 4 * (100vw - 320px) / 1120);
  font-weight: 700;
  color: #000;
  text-align: center;
}

.gallery__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 160px;
  padding-bottom: 160px;
}

.gallery__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallery__item--reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.gallery__info {
  width: 40%;
  padding-right: 60px;
}

.gallery__info--reverse {
  padding-right: 0;
  padding-left: 60px;
}

.gallery__title {
  font-size: calc(12px + 4 * (100vw - 320px) / 1120);
  color: #a8a8a8;
  margin-bottom: 25px;
}

.gallery__subtitle {
  font-size: calc(18px + 16 * (100vw - 320px) / 1120);
  color: #000;
  margin-bottom: 20px;
}

.gallery__description {
  font-size: calc(12px + 4 * (100vw - 320px) / 1120);
  color: #6b6b6b;
}

.gallery__image > picture > img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.quotes__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 160px;
}

.quotes__image {
  margin-bottom: 60px;
}

.quotes__quote {
  font-size: calc(14px + 8 * (100vw - 320px) / 1120);
  color: #6B6B6B;
  text-align: center;
  width: 60%;
  margin-bottom: 20px;
}

.quotes__sub-quote {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 70px;
}

.quotes__author {
  color: #6B6B6B;
}

.quotes__author::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 1px;
  background-color: #d3d3d3;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(calc(-50% - 4px), -50%);
      -ms-transform: translate(calc(-50% - 4px), -50%);
          transform: translate(calc(-50% - 4px), -50%);
}

.quotes__place {
  color: #6B6B6B;
  font-weight: 700;
}

.partners {
  padding-bottom: 160px;
}

.partners__image > picture > img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.phones__image > picture > img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.download {
  background: -o-linear-gradient(310deg, rgb(252, 10, 126) 5%, rgb(69, 14, 75) 100%);
  background: linear-gradient(140deg, rgb(252, 10, 126) 5%, rgb(69, 14, 75) 100%);
}

.download__body {
  padding: 160px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.download__title {
  color: #FFF;
  font-size: calc(24px + 8 * (100vw - 320px) / 1120);
}

.button {
  border-radius: 5px;
  padding: 20px 40px;
  font-size: calc(12px + 3 * (100vw - 320px) / 1120);
  color: #FFF;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #B04BB3;
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.button:hover {
  background-color: #FC0A7E;
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.update {
  background-color: #1B1B1B;
}

.update__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 120px 0;
}

.update__title {
  color: #FFF;
  font-size: calc(24px + 10 * (100vw - 320px) / 1120);
  margin-bottom: 20px;
}

.update__subtitle {
  font-size: calc(12px + 4 * (100vw - 320px) / 1120);
  color: #6B6B6B;
  margin-bottom: 40px;
}

.update__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.update__form-text {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
}

.update__form-button {
  background-color: #FC0A7E;
  padding: 20px 30px;
}

.footer {
  background-color: #1B1B1B;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  padding-bottom: 60px;
  gap: 30px;
}

.footer__contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.footer__contacts-link {
  color: #6B6B6B;
  font-size: 14px;
}

@media (max-width: 1400px) {
  .momentum__image {
    margin-left: 30px;
  }

  .container {
    max-width: 1440px;
    padding: 0 100px;
  }

  .nullam {
    padding-top: 80px;
  }

  .nullam__subtitle {
    margin-bottom: 40px;
  }
}

@media (max-width: 1120px) {
  .richard {
    height: auto;
  }

  .momentum {
    height: auto;
  }

  .momentum__body {
    margin-top: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
  }

  .momentum__image {
    padding-top: 0;
    margin-left: 0;
  }

  .momentum__image > picture > img {
    max-width: 40vw;
  }

  .momentum__subtitle {
    white-space: normal;
  }

  .container {
    max-width: 1440px;
    padding: 0 40px;
  }
}

@media (max-width: 1000px) {
  .nullam {
    padding-top: 70px;
  }

  .nullam__subtitle {
    margin-bottom: 35px;
  }
}

@media (max-width: 850px) {
  .gallery__body {
    gap: 80px;
    padding-bottom: 100px;
  }

  .gallery__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .gallery__item--reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .gallery__info {
    text-align: center;
    width: 90%;
    padding-right: 0px;
    padding-bottom: 30px;
  }

  .gallery__info--reverse {
    padding-left: 0px;
  }

  .gallery__title {
    margin-bottom: 15px;
  }

  .gallery__subtitle {
    margin-bottom: 5px;
  }

  .quotes__body {
    padding-bottom: 100px;
  }

  .quotes__image {
    margin-bottom: 30px;
  }

  .quotes__sub-quote {
    gap: 50px;
  }

  .quotes__author::after {
    width: 20px;
  }

  .partners {
    padding-bottom: 100px;
  }
}

@media (max-width: 800px) {
  .app__container {
    padding: 60px 0 120px 0;
  }

  .app__item {
    margin-bottom: 100px;
  }

  .app__item--reverse {
    margin-bottom: 100px;
  }

  .app__info--reverse {
    padding-left: 80px;
  }

  .app__title {
    margin-bottom: 20px;
  }

  .app__subtitle {
    margin-bottom: 15px;
  }

  .app__image {
    padding-left: 40px;
  }

  .app__image--reverse {
    padding-right: 40px;
  }

  .advantages {
    padding-bottom: 100px;
  }

  .advantages__item {
    padding: 0 10px;
  }

  .advantages__image {
    margin-bottom: 30px;
  }

  .advantages__title {
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .momentum {
    height: auto;
  }

  .momentum__body {
    margin-top: 20px;
  }

  .momentum__image {
    padding-top: 0;
    margin-left: 0;
  }

  .momentum__image > picture > img {
    max-width: 60vw;
  }
}

@media (max-width: 767px) {
  .header::before {
    background-color: #ccdefe;
  }

  .header__body {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 50px;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }

  .header__burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger::after,
  .header__burger::before {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger::before {
    top: 0;
  }

  .header__burger::after {
    bottom: 0;
  }

  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ccdefe;
    padding: 70px 10px 20px 10px;
    overflow: auto;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__menu.active {
    top: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
  }

  .header__link > a {
    font-size: 24px;
    color: #fff;
  }

  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
}

@media (max-width: 700px) {
  .footer__contacts-list {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
}

@media (max-width: 630px) {
  .quotes__quote {
    width: 85%;
    margin-bottom: 15px;
  }
}

@media (max-width: 600px) {
  .app__container {
    padding: 40px 0 80px 0;
  }

  .app__item {
    margin-bottom: 60px;
  }

  .app__item--reverse {
    margin-bottom: 60px;
  }

  .app__info {
    -webkit-box-flex: 2;
        -ms-flex: 2 1 50%;
            flex: 2 1 50%;
    padding-left: 20px;
  }

  .app__info--reverse {
    padding-left: 50px;
  }

  .app__title {
    margin-bottom: 20px;
  }

  .app__subtitle {
    margin-bottom: 10px;
  }

  .app__image {
    padding-left: 20px;
  }

  .app__image--reverse {
    padding-right: 20px;
  }

  .advantages {
    padding-bottom: 100px;
  }

  .advantages__container {
    max-width: 450px;
  }

  .advantages__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .advantages__item {
    padding: 25px 0;
  }

  .advantages__image {
    margin-bottom: 20px;
  }

  .advantages__title {
    margin-bottom: 10px;
  }

  .benefits__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 80px;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    gap: 20px;
  }

  .benefits__sub-body {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 550px) {
  .button {
    padding: 15px 30px;
  }

  .download__body {
    padding: 100px 0;
    gap: 20px;
  }
}

@media (max-width: 540px) {
  .nullam {
    padding-top: 50px;
  }

  .nullam__subtitle {
    margin-bottom: 20px;
  }
}

@media (max-width: 535px) {
  .app__container {
    padding: 20px 0 60px 0;
  }

  .app__item {
    margin-bottom: 40px;
  }

  .app__item--reverse {
    margin-bottom: 40px;
  }

  .app__info {
    padding-left: 20px;
  }

  .app__info--reverse {
    padding-left: 20px;
  }

  .app__title {
    margin-bottom: 10px;
  }

  .app__subtitle {
    margin-bottom: 5px;
    line-height: 1.1;
  }

  .app__image {
    padding-left: 10px;
  }

  .app__image--reverse {
    padding-right: 20px;
  }
}

@media (max-width: 400px) {
  .momentum__body {
    gap: 25px;
  }

  .momentum__btn {
    width: 100%;
  }

  .container {
    padding: 0 20px;
  }
}